<div class="modal-overlay" (click)="close()">
  <div class="container" (click)="$event.stopPropagation()">
    <app-modal-header 
      [title]="modalTitle" 
      (closeModal)="close()">
    </app-modal-header>

    <app-modal-content 
      [title]="modalTitle"
      [items]="items"
      [loading]="loading"
      [attachments]="attachments"
      (progressChange)="handleProgress($event)">
    </app-modal-content>

    <app-modal-footer
      area="$$$"
      [uploading]="uploading"
      (uploadFile)="handleFileSelected($event)">
    </app-modal-footer>
  </div>
</div>
