.container {
  display: flex;
  flex-direction: column;
  width: 30.875rem;
  height: 100%;
  align-items: flex-start;
  // justify-content: center;
  border: 1px solid #c7c7c7;
  border-radius: 0.5rem;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header h4 {
  margin-left: 1rem;
  margin-bottom: 0;
}

h5 {
  margin-bottom: 1rem;
  margin-top: 0;
}

p {
  margin-right: 1rem;
}

.content {
  margin: 1rem;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}
