.container {
  width: 30rem;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container:hover {
  cursor: pointer;
}

i {
  color: rgb(161, 0, 0);
}
