<link rel="stylesheet" href="app.component.scss">

<main>
  <div style="display: flex; gap: 20px;">
    <app-card-main
      title="Higiene & Limpeza"
      icon="fa-solid fa-hand-sparkles"
      status="done">
    </app-card-main>

    <app-card-main
      title="Alimentos"
      icon="fa-solid fa-bread-slice"
      status="partial">
    </app-card-main>

    <app-card-main
      title="Cardápio"
      icon="fa-solid fa-book-open"
      status="not-started">
    </app-card-main>
  </div>

</main>

<router-outlet />
