<aside class="w-64 bg-white shadow-md p-4 h-full hidden md:block overflow-y-auto">
  <main class="flex flex-col gap-3">
    <h2 class="text-xl font-bold ml-1 text-gray-800">UTF-Check</h2>

    @for (item of sidebarItems; track item.text) { 
      
      @if (!item.isModal) {
        <a [routerLink]="item.link" 
           routerLinkActive="font-semibold text-blue-600 bg-blue-50 rounded-lg">
          <app-tab [text]="item.text"></app-tab>
        </a>
      } 
      
      @if (item.isModal) {
        <button (click)="openModalFromSidebar(item.text)" 
                class="w-full text-left">
          <app-tab [text]="item.text"></app-tab>
        </button>
      }

    }
  </main>
</aside>