button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  &.primary {
    background-color: #ffca28; 
    color: #fff;
  }

  &.secondary {
    background-color: #42a5f5;
    color: #fff;
  }

  &.danger {
    background-color: #ef5350;
    color: #fff;
  }
}
